<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="keywords" content="AnswerWise" />
    <title>AnswerWise <%= controller.action_name %></title>
    <%= stylesheet_link_tag 'scaffold','application' %>
    <%= yield :css %>
    <%= javascript_include_tag 'application', 'jquery-1.3.2.min' %>
    <%= yield :javascript %>
    <script type="text/javascript">
      $(document).ready(function() {
        <%= yield :on_ready %>
      });
    </script>
  </head>
  <body>
    <div id="top_nav">
      <ul class="links">
        <li><%= link_to "Ask a Question", new_question_path %></li>
        <% if !current_user %>
        <li><%= link_to "Log in", new_user_session_path %></li>        
        <li><%= link_to "Register", new_account_path %></li>
        <% else %>
        <li><%= link_to "All Questions", questions_path %></li>        
        <li><%= link_to "My Account", account_path %></li>
        <li><%= link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?" %></li>
        <% end %>
        <li><span class="logo">AnswerWise ~ Ask a question and get an answer.</span></li>
      </ul>
    </div>
    <div class="clear" />

    <p style="color: green"><%= flash[:notice] %></p>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>

